/* A light version of the main AscentViewer theme, AscentedNordDark. Also based on Nord (https://www.nordtheme.com/docs/colors-and-palettes) */

QToolTip
{
    color: white;
    background-color: #2a82da;
    border: 1px solid white;
}

QMenu::item:disabled
{
    background-color: rgb(38, 43, 53);
    color: #3b4252;
}

QSplitter::handle#MainSplitter
{
    background: _accentColorMain;
    height: 2;
}

QFrame#Bottom
{
    background: _accentColorLighter;
}

QToolButton#BottomButton
{
    background: _accentColorLighter;
}

QToolButton::menu-indicator#BottomButton
{
    image: url(data/assets/img/dropdown_arrow.png);
    subcontrol-position: center;
    subcontrol-origin: padding;
}

QStatusBar
{
    color: white;
    background: _accentColorMain;
}

QLabel#HelpTitle
{
    color: #6C6F75;
}
