.vscode
.pytest_cache
*.pyc
src/.vs
src/.vscode
tests_and_stuff
log*.log
output.*
releaser/logs/log*.log
releaser/exports
releaser/config/config3.1 - Copy.json
releaser/exporter.zip
releaser/test.txt
src/AscentViewer/data/assets/localization/lang/secret.json
src/AscentViewer/data/user/temp/thumbnails/tn_current-thumb.png
