.vscode
.pytest_cache
source/.vs
source/.vscode
tests_and_stuff
tests/__pycache__
source/AscentViewer_files/data/user/temp/logs/log*.log
source/AscentViewer_files/__pycache__
source/AscentViewer_files/lib/__pycache__
source/AscentViewer_files/*.pyc
output.*
source/icon3_UaA_icon.ico
source/releaser/lib/__pycache__
source/releaser/logs/log*.log
source/releaser/exports
source/releaser/config/config3.1 - Copy.json
source/releaser/exporter.zip
source/releaser/test.txt
source/AscentViewer_files/test.py
source/AscentViewer_files/data/assets/localization/lang/secret.json
source/AscentViewer_files/data/user/temp/thumbnails/tn_current-thumb.png
source/AscentViewer_files/lib/gui
