.vscode
.pytest_cache
*.pyc
AscentViewer/src/.vs
AscentViewer/src/.vscode
tests_and_stuff
log*.log
output.*
releaser/lib/__pycache__
releaser/logs/log*.log
releaser/exports
releaser/config/config3.1 - Copy.json
releaser/exporter.zip
releaser/test.txt
AscentViewer/src/AscentViewer_files/data/assets/localization/lang/secret.json
AscentViewer/src/AscentViewer_files/data/user/temp/thumbnails/tn_current-thumb.png
AscentViewer/src/AscentViewer_files/lib/gui
