/* The main AscentViewer theme, based on Nord (nordtheme.com) */

QToolTip
{
    color: #ffffff;
    background-color: #2a82da;
    border: 1px solid white;
}

QMenu::item:disabled
{
    background-color: rgb(38, 43, 53);
    color: #3b4252;
}

QSplitter::handle#MainSplitter
{
    background: @accentColorMain;
    height: 2;
}

QFrame#Bottom
{
    background: @accentColorDarker;
}

QToolButton#BottomButton
{
    background: @accentColorDarker;
}

QToolButton::menu-indicator#BottomButton
{
    image: url(data/assets/img/dropdown_arrow.png);
    subcontrol-position: center;
    subcontrol-origin: padding;
}

QStatusBar
{
    background: @accentColorMain;
}
